nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
  height: 4vw;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-light-color);
  z-index: 1;
}

li {
  display: inline-block;
  padding: 1vw 2vw;
} 

button {
  cursor: pointer;
}

aside {
  width: fit-content;
  height: auto;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

aside ul li {
  display: block;
}