nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
  height: 4vw;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-light-color);
  z-index: 1;
}

li {
  display: inline-block;
  padding: 1vw 2vw;
} 

li:hover {
  color: #ff1c3e73;;
  transition: color 0.2s;
}

button {
  cursor: pointer;
}

#section-projects button:hover{
  background-color: var(--main-accent-color);
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

aside {
  width: fit-content;
  height: auto;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

aside ul li {
  display: block;
}

@media screen and (min-width:681px) and (max-width: 1024px) { 
	nav {
    height: 6vw;
  }

  nav ul li button, nav ul li a {
    font-size: 1.8vw;
  } 

  aside {
    top: 70%;
  }

  aside ul li {
    padding: 2vw 1.2vw;
  }

  aside ul li a {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 680px) { 
  nav {
    height: 8vw;
  }

  nav ul li button, nav ul li a {
    font-size: 2.4vw;
  } 

  nav li {
    padding: 1vw 4vw;
  }

  aside {
    display: none;
  }


}