.home {
    /* height: 10vh;
    width: 100vw; */
    background-color: white;
    padding: 8vw 0;
}

.home-texts {
    justify-content: center;
    text-align: center;
    align-content: center;
    z-index: 1;
}

h1 {
    font-size: 2vw;
    line-height: 4vw;
}

.work-title {
    text-transform: capitalize;
}

@media screen and (min-width:681px) and (max-width: 1024px) { 
	
}

@media screen and (max-width: 680px) { 
    h1 {
        font-size: 6vw;
        line-height: 14vw;
    }
    .work-title {
        font-size: 3vw;
        line-height: 4vw;
    }
}