/******* Home page project section *******/

section {
    padding: 8vw 10vw;
    height: fit-content;
    background-color: var(--main-light-color);
}

section .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-nav button {
    text-transform: capitalize;
    padding: 1vw 2vw;
    border: 2px solid var(--main-accent-color);
    border-radius: 2vw;
    margin-left: 1vw;
    font-size: 1.4vw;
    cursor: pointer;
}

span {
    font-family: var(--display-font);
    padding: 0.4vw 0.8vw;
    border: 2px solid white;
    border-radius: 100px;
    margin-right: 1vw;
    text-transform: capitalize;
}

.project {
    margin-top: 4vw;
}

.card {
    text-transform: capitalize;
    margin-top: 1.4vw;
    background-color: var(--main-accent-color);
    height: 8vw;
    width: auto;
    border-radius: 10px;
    text-align: center;
    line-height: 8vw;
    color: white;
    font-size: 1.8vw;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.card h2 {
    background-color: #312d2d1c;
    border-radius: inherit;
}

/******* About section **********/

.about-content {
    margin: 4vw 8vw 0;
    line-height: 1.6vw;
}

.about-content p {
    margin-bottom: 0.8vw;
    margin-right: 4vw;
}

.about-content img {
    width: 20vw;
    height: auto;
    border-radius: 20px;
}

/******* Contact section **********/

.contact-content {
    margin: 4vw 8vw 0;
    line-height: 3vw;
}

.contact-content a {
    font-size: 1.6vw;
    border-bottom: 2px solid var(--main-accent-color);
}



/******* Project description pages *******/

.content {
    margin: 4vw 10vw;
}

.content div.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decorated-link {
    margin-left: 2vw;
    border: 2px solid var(--main-accent-color);
    border-radius: 2vw;
    height: fit-content;
    padding: 1vw 2vw;
}

.content div button {
    border-bottom: 2px solid var(--main-accent-color);
}

.content h1 {
    margin: 0.6vw 0 1vw 0;
    text-transform: capitalize;
}

.content h2 {
    text-transform: uppercase;
    font-size: 1.2vw;
    line-height: 1.4vw;
    margin: 2vw 0 0.4vw 0;
}

.content h3 {
    text-transform: uppercase;
    font-size: 1vw;
    line-height: 1.4vw;
    margin: 1.2vw 0 0.2vw 0;
}

.two-columns {
    column-count: 2;
    column-gap: 2vw;
}

.content p {
    font-size: 1.1vw;
    margin-bottom: 0.4vw;
}

iframe {
    margin-top: 1vw;
}

img {
    margin: 0.2vw 0 0 0;
    width: 100%;
    height: auto;
}

.doc {
    font-family: var(--paragraph-font);
    border-bottom: 1px solid var(--main-accent-color);
    text-transform: capitalize;
}

.flex-content {
    display: flex;
    justify-content: space-between;
}

video.govid {
    width: 20vw;
    height: auto;
    border-radius: 16px;
    margin-left: 2vw;
}

.play {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-light-color);
}

.column {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
}

.unity {
    width: 960px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}